<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vote My Mode</title>
        <link rel="stylesheet" href="/static/public/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="content">
            <h1><a href="http://modeforme.com">VOTE MY MODE</a></h1>

            <div class="end-text">
                <p>We're impressed, you've swiped through all of our designs!</p>
                <br>
                <p>Come back soon for more of the latest in fashion.</p>
                <br>
                <p class="designer-apply">In the meantime, contact us <a class="link" href="http://modeforme.com/pages/designers">here</a> if you would like to showcase your photos or join our next round of sales campaigns. </p>
            </div>

            <h3><a href="http://modeforme.com">← Back to Mode For Me</a></h3>

            <div class="social-media">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/modeforme"><img class="facebook" src="/static/public/images/instagram.png"></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/modeforme"><img class="twitter" src="/static/public/images/twitter.svg"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/modeformelondon"><img class="facebook" src="/static/public/images/facebook.svg"></a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com/modeforme"><img class="pinterest" src="/static/public/images/pinterest.svg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="/static/public/js/script.js"></script>
    </body>
</html>
