html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

@font-face {
  font-family: 'Montserrat';
  src: url("/static/public/fonts/montserrat/Montserrat-Regular.otf");
  font-weight: normal; }
@font-face {
  font-family: 'Montserrat Light';
  src: url("/static/public/fonts/montserrat/Montserrat-Light.otf");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat Ultra Light';
  src: url("/static/public/fonts/montserrat/Montserrat-UltraLight.otf");
  font-weight: lighter; }
@font-face {
  font-family: 'Montserrat Bold';
  src: url("/static/public/fonts/montserrat/Montserrat-Bold.otf");
  font-weight: bold; }
body {
  font-family: 'Montserrat Light', sans-serif; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px; }
  @media (max-width: 600px) {
    h1 {
      font-size: 26px; } }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px; }
  @media (max-width: 600px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px; }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; }
  @media (max-width: 600px) {
    h6 {
      font-size: 14px; } }

i {
  color: grey; }

button {
  background-color: white;
  border: 2px solid #666;
  border-radius: 2px;
  color: #1a1a1a;
  cursor: pointer;
  font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 15px 30px;
  text-transform: uppercase; }

@media (min-width: 700px) {
  button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: white; } }
@media (max-width: 700px) {
  button {
    padding: 10px 15px; } }
body {
  background-color: black;
  text-align: center; }

.content {
  background-color: white;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 2%;
  width: 70%; }
  @media (max-width: 700px) {
    .content {
      margin: 0;
      padding: 5% 1%;
      width: 100%; } }

.card {
  position: relative; }

h1 {
  padding-bottom: 3%; }

h3 {
  color: #1a1a1a;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 40px;
  text-align: left;
  text-transform: uppercase; }

a {
  color: #1a1a1a;
  text-decoration: none; }

.product-image {
  display: block;
  height: 400px;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  padding-bottom: 3%; }
  @media (max-width: 600px) {
    .product-image {
      height: 300px; } }

.designer-name {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
  font-weight: bold;
  margin-bottom: 10px; }

.loves {
  padding-bottom: 2%; }

.next-button, .love-button, .loves, .designer-name {
  display: none; }

.social-media {
  margin: 0 auto;
  text-align: center; }
  .social-media li {
    display: inline-block; }
  .social-media h3 {
    display: none; }
  .social-media .twitter, .social-media .facebook, .social-media .instagram, .social-media .pinterest {
    height: 35px;
    margin: 0 auto;
    padding: 10%;
    padding-top: 30%; }

.end-text {
  padding: 5% 10%; }
  .end-text p {
    font-size: 18px; }
  .end-text .designer-apply {
    font-size: 14px; }
    .end-text .designer-apply .link {
      text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
