body {
    background-color: black;
    text-align: center;
}

.content {
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px;
    width: 70%;

    @media (max-width: 700px) {
        margin: 0;
        padding: 50px 5px;
        width: 100%;
    }
}

h1 {
    padding-bottom: 30px;
}

h3 {
    color: #1a1a1a;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: left;
    text-transform: uppercase;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

.product-image {
    display: block;
    height: 400px;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    padding-bottom: 20px;

    @media (max-width: 600px) {
        height: 300px;
    }
}

.designer-name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 10px;
}

.likes {
    padding-bottom: 40px;
}
