body {
    background-color: black;
    text-align: center;
}

.content {
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 2%;
    width: 70%;

    @media (max-width: 700px) {
        margin: 0;
        padding: 5% 1%;
        width: 100%;
    }
}

.card {
    position: relative;
}

h1 {
    padding-bottom: 3%;
}

h3 {
    color: #1a1a1a;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: left;
    text-transform: uppercase;
}

a {
    color: #1a1a1a;
    text-decoration: none;
}

.product-image {
    display: block;
    height: 400px;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    padding-bottom: 3%;

    @media (max-width: 600px) {
        height: 300px;
    }
}

.designer-name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 10px;
}

.loves {
    padding-bottom: 2%;
}

.next-button, .love-button, .loves, .designer-name {
    display: none;
}

.social-media {
    margin: 0 auto;
    text-align: center;

    li {
        display: inline-block;
    }

    h3 {
        display: none;
    }

    .twitter, .facebook, .instagram, .pinterest {
        height: 35px;
        margin: 0 auto;
        padding: 10%;
        padding-top: 30%;
    }
}
